.container-principal {
    width: 100%;
    max-width: 900px;
    margin: 100px auto 60px auto;
}

.form-container {
    background-color: var(--cor-fundo-form);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin: 0 auto 50px auto;
}

.cadastro-form {
    display: flex;
    gap: 40px;
}

.coluna-esquerda,
.coluna-direita {
    flex: 1;
}

.opcoes-e-envio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.opcoes-e-envio .btn-cadastro {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .container-principal {
        margin-top: 80px;
    }
    
    .form-container {
        padding: 30px 20px;
    }

    .cadastro-form {
        flex-direction: column;
        gap: 15px;
    }

    .opcoes-e-envio {
        align-items: flex-start;
        margin-top: 10px;
    }

    .btn-cadastro {
        width: 100%;
        margin-top: 10px;
    }
}