.content-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.dados-container {
    flex: 2;
}

.resumo-pedido-container {
    flex: 1;
    padding: 0;
    background-color: var(--cor-fundo);
    border: 1px solid #eee;
    border-radius: 8px;
    min-width: 300px;
}

.resumo-pedido-container > h2 {
    background-color: #ffffff;
    padding: 20px 20px 0;
    margin: 0;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: none;
    color: var(--cor-texto);
}

.carrinho-conteudo {
    padding: 20px;
    padding-top: 0;
}

.item-carrinho {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.item-carrinho:first-child {
    padding-top: 0;
}

.imagem-produto {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
    background-color: #ddd;
}

.detalhes-item {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nome-produto {
    font-weight: 500;
    margin-bottom: 5px;
    color: #777;
}

.quantidade-preco {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quantidade {
    font-size: 0.9em;
    color: #777;
}

.preco-item {
    font-weight: 600;
    color: var(--cor-texto);
    margin-top: 5px;
}

.totais-pedido {
    padding: 20px;
    background-color: #fbfbfb;
    border-top: 1px solid #eee;
}

.linha-total {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    line-height: 1.8;
}

.linha-total .label-total {
    color: #777;
}

.linha-total.subtotal {
    font-size: 1em;
    font-weight: 600;
    color: var(--cor-texto);
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.linha-total.subtotal .valor-total {
    color: var(--cor-texto);
}

.botao-pagamento {
    width: 100%;
    background-color: var(--cor-primaria);
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    margin-top: 30px;
    transition: background-color 0.3s;
}

.botao-pagamento:hover {
    background-color: #916cb3;
}

@media (max-width: 992px) {
    .content-wrapper {
        flex-direction: column;
        gap: 40px;
    }
    
    .dados-container {
        flex: auto;
    }

    .resumo-pedido-container {
        flex: auto;
        min-width: 100%;
    }
}

@media (max-width: 576px) {
    .item-carrinho {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .detalhes-item {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .quantidade-preco {
        align-items: center;
    }
}